/* text */
@import url('https://fonts.googleapis.com/css2?family=Ubuntu:wght@300&display=swap');

/* Az3z3l */
@import url('https://fonts.googleapis.com/css2?family=Zilla+Slab:wght@500&display=swap');

/* date */
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300&display=swap');


body {
    /* background-color: rgb(235, 235, 235); */
    background-color: rgb(250, 250, 250);
    display: grid;
    word-break: break-all;
    margin-top: 2rem;
    margin-bottom: 5rem;
    margin-left:  15rem;
    margin-right: 15rem;
    font-family: 'Ubuntu', sans-serif;
}

.header {
    background-color: rgb(42, 42, 42);
    color: rgb(250, 250, 250);
    margin-bottom: 3rem;
    text-align: center;
}

.header a{
    text-decoration: none;
    color: yellowgreen;
}

.az3z3l {
    font-family: 'Zilla Slab', serif;
}

.date {
    font-family: 'Montserrat', sans-serif;
}

.post {
    margin-left: 2rem;
    margin-right: 2rem;
    margin-bottom: 0.5rem;
    margin-top: 0.5rem;
    background-color: rgb(245, 245, 245);
    word-wrap: break-word;
}

.post a{
    text-decoration: none;
    color: black;
}

.linky {
    text-align: center;
} 

.linky a{
    text-decoration: none;
    color: rgb(101, 148, 31);
}

.postcontent {
    margin-left: 2rem;
}

.tags {
    list-style: none;
    margin: 0;
    overflow: hidden; 
    padding: 0;
}

.tags li {
    float: left; 
}

.tag {
    /* background: #eee; */
    background: rgb(209, 209, 209);
    border-radius: 3px 0 0 3px;
    color: rgb(0, 0, 0);
    display: inline-block;
    height: 26px;
    line-height: 26px;
    padding: 0 20px 0 23px;
    position: relative;
    margin: 0 10px 10px 0;
    text-decoration: none;
    -webkit-transition: color 0.2s;
}

.tag::before {
    background: rgb(245, 245, 245);
    border-radius: 10px;
    box-shadow: inset 0 1px rgba(0, 0, 0, 0.25);
    content: '';
    height: 6px;
    left: 10px;
    position: absolute;
    width: 6px;
    top: 10px;
}

.tag::after {
    background: rgb(245, 245, 245);
    border-bottom: 13px solid transparent;
    border-left: 10px solid rgb(209, 209, 209);
    border-top: 13px solid transparent;
    content: '';
    position: absolute;
    right: 0;
    top: 0;
}

.tag:hover {
    background-color: rgb(42, 42, 42);
    color: rgb(255, 255, 255);
}

.tag:hover::after {
    border-left-color: rgb(42, 42, 42); 
}