body{
    background-color: #ddd;
    text-align: center;
}

.contebox{
    position: relative;
    display: inline-block;
    width: 30%;
    padding: 10px;
    background-color: white;
    margin: 0;
}

.contebox .heading{
    margin-left: 1em;
    margin-bottom: 1em;
    font-family: 'Alef';
    position: relative;
    text-align: left;
    font-size: 1.2em;
    word-wrap: break-word;
}

.heading a{
    margin-top: 1em;
    margin-bottom: 1em;
    color: black;
    text-decoration: none;
    display: block;
}

.contebox .time{
    color: black;
    font-family: 'Oxygen';
}
